extends ../layout

block content
  div(id="Calendar" ng-controller="CalendarController" class="main-calendar")

  //- Calendar
  div(class="main calendar")
    div(id="calendar")

  div(ng-controller="ProvidersController")
  include ../Shared/_scripts

  script(type="text/javascript").
    (function () {
      var $calendar = $('#calendar');
      // testing

      $calendar.fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,agendaDay'
        },
        aspectRatio: 1.2,
        nextDayThreshold: "00:00:00",
        timezone: 'UTC',
        //- height: "100%",
        //- eventLimit: true, // allow "more" link when too many events
      });

    })();