extends layout

block content
  div(style="height: 100%; margin-top: 50%; padding-left: 40%; font-size: 3rem; font-weight: bold; color: orange") Coming Soon

  include ./Shared/_scripts
  script.
    var $indexScope = "test";